<style>

    .nav_link {
        color: #000000 !important;
        font-weight: 500;
        margin-right: 20px;
    }

        .nav_link:hover {
            color: #17a2b8 !important;
        }

</style>

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #fff;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav_link" asp-area="" asp-controller="AttendanceManagement" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_link" asp-area="" asp-controller="AttendanceManagement" asp-action="Reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_link" asp-area="" asp-controller="AttendanceManagement" asp-action="ViewHistory">View History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_link" asp-area="" asp-controller="AttendanceManagement" asp-action="MarkAttendance">Mark Attendance</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h3 class="text-capitalize">Reports</h3>