@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .card-title {
            font-weight: bold;
            color: #17a2b8;
        }

        .card-text {
            color: #fff;
        }

    </style>
</head>
<body>
        <div class="card-body text-center">
            <h1 class="card-title">@ViewData["Title"]</h1>
            <p class="card-text">
                Please check your email to reset your password.
            </p>
            <a href="/" class="btn btn-secondary">Return to Home</a>
    </div>
</body>
</html>
