@page
@model RegisterModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="card shadow border-0 mt-3">
        <div class="card-header text-black py-2">
            <h2 class="text-capitalize">Add new Employee</h2>
        </div>
        <div class="card-body p-6">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
           
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Input.FirstName" class="ms-2 text-muted">FirstName</label>
                        <input asp-for="Input.FirstName" class="form-control form-control-sm"  aria-required="true" placeholder="FirstName" />
			            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class=" mb-3">
                        <label asp-for="Input.LastName" class="ms-2 text-muted">LastName</label>
                        <input asp-for="Input.LastName" class="form-control form-control-sm" aria-required="true" placeholder="LastName" />
			            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class=" mb-3">
                <label asp-for="Input.Email" class="ms-2 text-muted">Email</label>
                <input asp-for="Input.Email" class="form-control form-control-sm" aria-required="true" placeholder="name@example.com" />
		        <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <div class=" mb-3">
                        <label asp-for="Input.Password" class="ms-2 text-muted">Password</label>
                        <input asp-for="Input.Password" class="form-control form-control-sm"  aria-required="true" placeholder="password" />
 			            <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class=" mb-3">
                        <label asp-for="Input.ConfirmPassword" class="ms-2 text-muted">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm"  aria-required="true" placeholder="password" />
 			            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

		    <div class="row g-3">
                <div class=" mb-3">
                    <label asp-for="Input.Address" class="ms-2 text-muted">Address</label>
                    <input asp-for="Input.Address" class="form-control" aria-required="true" placeholder="Address" />
    			    <span asp-validation-for="Input.Address" class="text-danger"></span>
		        </div>

                <div class="col-md-6">
                    <div class=" mb-3">
                        <label asp-for="Input.PhoneNumber" class="ms-2 text-muted">MobileNo</label>
                        <input asp-for="Input.PhoneNumber" class="form-control form-control-sm" aria-required="true" placeholder="MobileNo" />
			            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row g-3">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Input.join_date" class="ms-2 text-muted">join_date</label>
                        <input asp-for="Input.join_date" class="form-control form-control-sm" type="date" aria-required="true" placeholder="join_date" />
                        <span asp-validation-for="Input.join_date" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Input.DOB" class="ms-2 text-muted">DOB</label>
                        <input asp-for="Input.DOB" class="form-control form-control-sm" type="date" aria-required="true" placeholder="DOB" />
                        <span asp-validation-for="Input.DOB" class="text-danger"></span>
                    </div>
                </div>
            </div>

            
            <div class="row g-3 align-items-center">
                <div class="mb-3">
                    <label asp-for="Input.Role" class="ms-2 text-muted">Role</label>
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select form-select-sm">
                        <option disabled selected>-Select Role-</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-info mt-2">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
