@using System.Security.Claims
@model IEnumerable<HRMS_Web.Models.LeaveManagement>

<!DOCTYPE html>
<html>
<head>

    <!-- Include Bootstrap CSS and Bootswatch Lux theme -->
    @* <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet"> *@
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
    <!-- Include Google Fonts -->
    @*  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> *@
    <!-- Include Font Awesome for icons -->
    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> *@
    <link href="~/css/leavestyles.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="Index">Home</a>

            <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="Reports">Reports</a>

            <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="ViewLeaveHistory">View Leave History</a>

            <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="LeaveRequest">Requested Leaves</a>

        </div>
    </nav>

    @* <a href="@Url.Action("LeaveForm")" class="btn btn-primary">Add Leave</a> *@



    @*  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script> *@

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @foreach (var leave in Model)
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <p><b>@leave.LeaveType</b></p>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="small-box bg-light">
                                            <div class="inner">
                                                <p><b>Total Leaves:</b></p>
                                                <p>@leave.NoOfLeaves_Year</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="small-box bg-warning">
                                            <div class="inner">
                                                <p><b>Remaining Leaves:</b></p>
                                                @foreach (var remainingLeave in leave.RemainingLeaves.Where(rl => rl.Id == User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                                {
                                                    <p>@remainingLeave.NoOfRemainingLeave</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="bi bi-calendar2-event"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <div class="row pt-4  pb-5">
        <div class="col-6">
            <h2 class="text-primary">Request Employee Leave </h2>
        </div>
        <div class="col-6" text-end>
            <a asp-controller="LeaveManagement" asp-action="LeaveForm" class="btn btn-info">
                <i class="bi bi-plus-circle"></i>  Add Leave
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h3>Pie Chart</h3>
            <canvas id="pieChart" width="200" height="110" style="width:197px;height:110px;"></canvas>
        </div>
        <div class="col-6">
            <h3>Bar Chart</h3>
            <canvas id="barChart" width="200" height="110" style="width:197px;height:110px;"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/LeaveManagement/GetTotalRemainingLeaves",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    const barChart = document.getElementById('barChart');

                    var _data = data;
                    var _labels = _data[0];
                    var _ChartData = _data[1];
                    var colors = ['Red', 'Blue', 'Green', 'Yellow'];

                    new Chart(barChart, {
                        type: 'bar',
                        data: {
                            labels: _labels,
                            datasets: [{
                                backgroundColor: colors,
                                data: _ChartData,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        stepSize: 1
                                    }
                                }
                            }
                        }
                    });
                },
                error: function (error) {
                    console.log("Error: ", error);
                }
            });

            $.ajax({
                type: "POST",
                url: "/LeaveManagement/GetTotalAnnualLeaves",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    const pieChart = document.getElementById('pieChart');

                    var _data = data;
                    var _labels = _data[0];
                    var _ChartData = _data[1];
                    var colors = ['Red', 'Blue', 'Green', 'Yellow'];

                    new Chart(pieChart, {
                        type: 'pie',
                        data: {
                            labels: _labels,
                            datasets: [{
                                backgroundColor: colors,
                                data: _ChartData,
                                borderWidth: 1
                            }]
                        }
                    });
                },
                error: function (error) {
                    console.log("Error: ", error);
                }
            });
        });
    </script>





</body>
</html>