<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="Index">Home</a>

        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="Reports">Reports</a>

        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="ViewLeaveHistory">View Leave History</a>

        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="LeaveRequest">Request Leave</a>

    </div>
</nav>