<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Employee Management
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary" id="register">
                <i class="bi bi-person-add"></i> Add New Employee
            </a>
        </div>
    </div>
</div>
